html{
    background-color: #bdb3db;
}

*{
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
}

b,h3{
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-style: normal;
}

#content{
    position: absolute;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}
  

#game-area{
    width: fit-content;
    margin: 0 auto;
}

#form{
    display: inline;
}

input{
    border-radius: 5px;
    border: none;
    height: 28px;
    width: 17.5rem;
}

#shop, #info{
    margin: 0;
    width: 80%;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    background-color: #bdb3db;
    border-radius: 10px;
    border: 2px solid black;
}

#close{
    position: absolute;
    right: -10px;
    top: -10px;
    background-color: none;
    padding: 0;
}

.hide{
    display: none;
}

#options{
    display: flex;
}

#shop .option{
    width: 50%;
    display: inline;
    border: none;
    cursor: pointer;
    padding: 10px;
}

.select-option{
    background-color: #bdb3db;
}

#shop-content, #info-content{
    max-height: 70vh;
    padding: 15px;
    max-width: 80vw;
    margin: 0 auto;
    overflow-y: auto;
}

.shop-list{
    margin: 10px 0;
    width: 10%;
    display: inline-block;
}

.shop-list img{
    display: block;
    margin: 0 auto;
}

.shop-list span{
    float: left;
    width: 100%;
    text-align: center;
}

.shop-list button{
    display: block;
    margin: 10px auto;
    width: 80%;
}

.shop-list .price{
    margin: 2px 0;
}

#board{
    position: absolute;
    margin-left: 10px;
}

#info-btn{
    background-color: transparent;
}

#shoot-btn{
    padding-left: 10px;
    padding-right: 10px;
}

#footer{
    float: right;
}


span{
    vertical-align: middle;
}

button{
    border: none;
    padding: 5px;
    cursor: pointer;
    border-radius: 5px;
    font-weight: bold;
}

.material-symbols-outlined{
    font-size: 32px;
    background-color: transparent;
}

@media only screen and (max-width: 900px) and (min-width: 600px) {
    .shop-list{
        width: 20%;
    }
    
}

@media only screen and (max-width: 600px) {
    #footer{
        margin-top: 20px;
        float: none;
        width: 100%;
        text-align: center;
    }

    .shop-list{
        width: 33%;
    }

    #board button .material-symbols-outlined{
        font-size: 24px;
        margin-left: -5px;
    }

    #board span{
        font-size: 12px;
    }

    
}

